:root {
  --background-color: firebrick;
  --foreground-color: bisque;
  --background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: block;
}

body {
  font-family: "Inconsolata", monospace;
  background: var(--background);
  background-color: var(--background-color);
  color: var(--foreground-color);
  margin: 2rem;
}

li {
  list-style: square;
}
.nested li {
  list-style-type: "_";
  padding-left: 0.5rem;
}

a {
  color: var(--foreground-color);
}

.typer {
  margin: 0 auto;
  width: 500px;
  padding: 2rem;
  padding: 2rem;
  display: grid;
}

label {
  padding: 1rem 0rem;
}

textarea,
.result {
  color: black;
  text-align: center;
  font-family: "Inconsolata", monospace;
  padding: 1rem 0rem;
  background-color: var(--foreground-color);
  border: 5px dashed var(--background-color);
  outline: 5px dashed var(--foreground-color);
}
